{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block body %}

<div class="container my-3">
    <h4>Add a todo</h4>
    <form action='/' method='POST'>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name='title' id="title" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <input type="text" class="form-control" name='desc' id="desc">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
<div class="container my-4">
    <h4>My Todo list</h4>
    {% if alltodo|length == 0 %}
    <div class="alert alert-warning" role="alert">
        No todos for now! If you want you can add more.
    </div>


    {% else %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date Created</th>
            </tr>
        </thead>
        <tbody>

            {% for todo in alltodo %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                    <a href="/update/{{todo.sno}}" type="button"
                        class="btn btn-outline-dark btn-sm  mx-1">Update</button>
                        <a href="/delete/{{todo.sno}}" type="button"
                            class="btn btn-outline-dark btn-sm mx-1">Delete</button>
                </td>

            </tr>
            {% endfor %}



        </tbody>
    </table>


    {% endif %}

</div>
{% endblock body %}